<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa87.job.mapper.ExtractCoinMapper">
    <select id="getSumTi" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	  select ifnull(sum(balance),0) from t_extract_coin where member =#{member} and ( currency =#{currency} or currency =#{currency1} ) and state = 'PASS'
  </select>

</mapper>