<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa87.job.mapper.WalletPoolMapper">
    <select id="getSumDeposit" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	    select ifnull(sum(amount),0) from t_deposit_history where member =#{member} and coin =#{currency}
  </select>

    <select id="getSumWithdraw" parameterType="java.lang.String" resultType="java.math.BigDecimal">
	       select ifnull(sum(amount),0) from t_withdraw_history where member =#{member} and coin =#{currency}
  </select>

</mapper>