<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xa87.member.mapper.DepositHistoryMapper">

    <select id="selectRechargeRecord" resultType="cn.xa87.model.DepositHistory">
        SELECT
        t.amount amount,
        t.block_number blockNumber,
        t.coin coin,
        t.contract contract,
        t.from_address `from`,
        t.to_address `to`,
        t.create_time createTime,
        t.member member,
        t.tx_hash hash
        FROM t_deposit_history t
        WHERE t.member = #{memberId}
        <if test="currency != null and currency != ''">
            AND t.coin = #{currency}
        </if>
        ORDER BY create_time DESC
    </select>
</mapper>